<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>SUPER-PIZZA</title>
  <script th:inline="javascript">
        function successMessage() {
            alert("Позиция успешно удалена!");
        }
        function confirmMessage() {
            var input = document.getElementById(address);
            if (input.value.trim() != "") {
                alert("Ваш заказ принят!");
            }
        }
    </script>
</head>
<body>
<style>
ul {
    list-style-type: none;
    display : flex;
}
li {
    padding: 20px;
}
a {
    color: #000 !important;
    text-decoration: none
}
</style>
<header>
  <nav >
    <ul class="nav_bar">
      <li class="nav-bar-element"><strong>Super Pizza</strong></li>
      <li class="nav-bar-element"><a href="/pizza/list">Pizzas</a></li>
      <li class="nav-bar-element"><a href="/snack/list">Snacks</a></li>
      <li class="nav-bar-element"><a href="/dessert/list">Desserts</a></li>
      <li class="nav-bar-element"><a href="/drink/list">Drinks</a></li>
      <li th:if="${not isAuthenticated}" style="background-color: #b4ccd7;"><a href="/login">Log-in</a></li>
      <li th:if="${not isAuthenticated}" class="nav-bar-element" style="background-color: #ffddd4;"><a href="/registration">Registration</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/order">My Orders</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/basket">Basket</a></li>
      <li th:if="${isAdmin}" style="border-bottom: none; background-color: #969abb;" class="nav-bar-element" ><a href="/admin/">ADMIN MODE</a></li>
      <li th:if="${isAuthenticated}" >
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
<h1 style="text-align: center;">ADMIN MODE</h1>
<div style="text-align: center;">
  <form action="/additive/list" method="get" style="padding: 20px">
    <button style="color: #969abb;" type="submit">Просмотреть все возможные добавки к пицце</button>
  </form>
  <form action="/admin/additive_create.html" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Создать новую добавку к пицце</button>
  </form>
  <form action="/user/basket/confirm" method="post" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Создать новый десерт</button>
  </form>
  <form action="/user/basket/confirm" method="post" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Создать новый напиток</button>
  </form>
  <form action="/user/basket/confirm" method="post" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Создать новую пиццу</button>
  </form>
  <form action="/user/basket/confirm" method="post" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Создать новую закуску</button>
  </form>
  <form action="/user/basket/confirm" method="post" style="padding: 20px">
    <button style="color: #969abb;" type="submit" onclick="confirmMessage()">Работа с заказами</button>
  </form>
</div>
</body>

</html>