<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUPER-PIZZA</title>
    <script th:inline="javascript">
        function successDelete() {
            alert("Операция выполнена успешно.");
        }
        function successUpdate() {
            alert("Операция выполнена успешно.");
        }
    </script>
</head>
<body>
<style>
ul {
    list-style-type: none;
    display : flex;
}
li {
    padding: 20px;
}
a {
    color: #000 !important;
    text-decoration: none
}
</style>
<header>
    <nav >
        <ul class="nav_bar">
            <li class="nav-bar-element"><strong>Super Pizza</strong></li>
            <li class="nav-bar-element"><a href="/pizza/list">Пицца</a></li>
            <li class="nav-bar-element"><a href="/snack/list">Закуски</a></li>
            <li class="nav-bar-element"><a href="/dessert/list">Десерты</a></li>
            <li class="nav-bar-element"><a href="/drink/list">Напитки</a></li>
            <li th:if="${not isAuthenticated}" style="background-color: #b4ccd7;"><a href="/login">Войти</a></li>
            <li th:if="${not isAuthenticated}" class="nav-bar-element" style="background-color: #ffddd4;"><a href="/registration">Регистрация</a></li>
            <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/order">Мои заказы</a></li>
            <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/basket">Корзина</a></li>
            <li th:if="${isAdmin}" style="border-bottom: none; background-color: #969abb;" class="nav-bar-element" ><a href="/admin/">ADMIN MODE</a></li>
            <li th:if="${isAuthenticated}" >
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </nav>
</header>
<h1 style="text-align: center;">ВСЕ ЗАКАЗЫ</h1>

<ul style="flex-direction: column;">
    <li th:each="order : ${allOrder}" style="padding: 3px;">
        <b><p th:text="'Заказ от ' + ${order.creationDate}" style="font-size: 20px;"></p></b>
        <p th:text="'ID покупателя: ' + ${order.buyer.id}" style="font-size: 14px;"></p>
        <p th:text="'Email покупателя: ' + ${order.buyer.email}" style="font-size: 14px;"></p>
        <p th:text="'Адрес доставки: ' + ${order.address}" style="font-size: 14px;"></p>
        <p th:text="'Описание заказа: ' + ${order.description}"></p>
        <p th:text="'Текущий статус заказа: ' + ${order.status}" style="font-size: 18px;"></p>
        <p th:text="'К оплате: ' + ${order.total}" style="font-size: 20px;"></p>
        <form th:if="${isAdmin}" id="formUpdate" th:action="${'/admin/orders/update/' + order.id}" method="post">
            <select name="orderStatus">
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="COOK">COOK</option>
                <option value="IN_DELIVERY">IN_DELIVERY</option>
                <option value="COMPLETED">COMPLETED</option>
            </select>
            <button style="color: green" type="submit" onclick="successUpdate()">UPDATE</button>
        </form>
        <form th:if="${isAdmin}" id="formDelete" th:action="${'/admin/orders/delete/' + order.id}" method="post">
            <button style="color: red" type="submit" onclick="successDelete()">DELETE</button>
        </form>
        <hr>
    </li>
</ul>
</body>

</html>