<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>SUPER-PIZZA</title>
</head>
<body>
<style>
ul {
    list-style-type: none;
    display : flex;
}
li {
    padding: 20px;
}
a {
    color: #000 !important;
    text-decoration: none
}
</style>
<header>
  <nav >
    <ul class="nav_bar">
      <li class="nav-bar-element"><strong>Super Pizza</strong></li>
      <li class="nav-bar-element"><a href="/pizza/list">Пицца</a></li>
      <li class="nav-bar-element"><a href="/snack/list">Закуски</a></li>
      <li class="nav-bar-element"><a href="/dessert/list">Десерты</a></li>
      <li class="nav-bar-element"><a href="/drink/list">Напитки</a></li>
      <li th:if="${not isAuthenticated}" style="background-color: #b4ccd7;"><a href="/login">Войти</a></li>
      <li th:if="${not isAuthenticated}" class="nav-bar-element" style="background-color: #ffddd4;"><a href="/registration">Регистрация</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/order">Мои заказы</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/basket">Корзина</a></li>
      <li th:if="${isAdmin}" style="border-bottom: none; background-color: #969abb;" class="nav-bar-element" ><a href="/admin/">ADMIN MODE</a></li>
      <li th:if="${isAuthenticated}" >
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
<h1 style="text-align: center;">ADMIN MODE</h1>
<div style="text-align: center;">
  <form action="/additive/list" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Просмотреть все возможные добавки к пицце</button>
  </form>
  <form action="/admin/additive_create" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Создать новую добавку к пицце</button>
  </form>
  <form action="/admin/dessert_create" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Создать новый десерт</button>
  </form>
  <form action="/admin/drink_create" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Создать новый напиток</button>
  </form>
  <form action="/admin/pizza_create" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Создать новую пиццу</button>
  </form>
  <form action="/admin/snack_create" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Создать новую закуску</button>
  </form>
  <form action="/admin/orders" method="get" style="padding: 20px">
    <button style="color: #350054;" type="submit">Работа с заказами</button>
  </form>
</div>
</body>

</html>