<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:insert="~{header_component.html}"></div>
<h1 style="text-align: center;">DESSERTS</h1>

<ul style="flex-direction: column;">
  <li th:each="dessert : ${allDessert}" style="padding: 5px;">
    <b><p th:text="${dessert.title}" style="font-size: 30px;"></p></b>
    <p style="font-size: 25px;">Цена:</p>
    <b><p th:text="${dessert.price}" style="font-size: 25px;"></p></b>
    <p th:text="${dessert.description}"></p>
    <p th:text="'Вес: ' + ${dessert.weight}"></p>
    <hr>
  </li>
</ul>
</body>

</html>