<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>SUPER-PIZZA</title>
  <script th:inline="javascript">
        function increase() {
            var value = parseInt(document.getElementById("quantity").value);
            document.getElementById("quantity").value = isNaN(value) ? 1 : value + 1;
        }
        function decrease() {
            var value = parseInt(document.getElementById("quantity").value);
            document.getElementById("quantity").value = isNaN(value) ? 1 : (value - 1 < 1 ? 1 : value - 1);
        }
    </script>
</head>
<body>
<div th:insert="~{header_component.html}"></div>
<h1 style="text-align: center;">DESSERTS</h1>

<ul style="flex-direction: column;">
  <li th:each="dessert : ${allDessert}" style="padding: 5px;">
    <b><p th:text="${dessert.title}" style="font-size: 30px;"></p></b>
    <p style="font-size: 25px;">Цена:</p>
    <b><p th:text="${dessert.price}" style="font-size: 25px;"></p></b>
    <p th:text="${dessert.description}"></p>
    <p th:text="'Вес: ' + ${dessert.weight} + ' грамм'"></p>
    <form th:action="${'/dessert/addToBasket/' + dessert.id}" method="post">
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" name="quantity"/>
      <button type="button" onclick="decrease()">-</button>
      <button type="button" onclick="increase()">+</button>
      <button type="submit">Buy</button>
    </form>
    <hr>
  </li>
</ul>
</body>

</html>