<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>SUPER-PIZZA</title>
  <script th:inline="javascript">
        function increase(event) {
            var personalId = event.target.id;
            console.log(personalId);
            var value = parseInt(document.getElementById(personalId).value);
            document.getElementById(personalId).value = isNaN(value) ? 1 : value + 1;
        }
        function decrease(event) {
            var personalId = event.target.id;
            console.log(personalId);
            var value = parseInt(document.getElementById(personalId).value);
            document.getElementById(personalId).value = isNaN(value) ? 1 : (value - 1 < 1 ? 1 : value - 1);
        }
        function successMessage(event) {
            var personalId = event.target.id;
            var input = document.getElementById(personalId);
            if (input.value.trim() != "") {
                alert("Товар успешно добавлен!");
            }
        }
    </script>
</head>
<body>
<style>
ul {
    list-style-type: none;
    display : flex;
}
li {
    padding: 20px;
}
a {
    color: #000 !important;
    text-decoration: none
}
</style>
<header>
  <nav >

    <ul class="nav_bar">
      <li class="nav-bar-element"><strong>Super Pizza</strong></li>
      <li class="nav-bar-element"><a href="/pizza/list">Pizzas</a></li>
      <li class="nav-bar-element"><a href="/snack/list">Snacks</a></li>
      <li class="nav-bar-element"><a href="/dessert/list">Desserts</a></li>
      <li class="nav-bar-element"><a href="/drink/list">Drinks</a></li>
      <li th:if="${not isAuthenticated}" style="background-color: #b4ccd7;"><a href="/login">Log-in</a></li>
      <li th:if="${not isAuthenticated}" class="nav-bar-element" style="background-color: #ffddd4;"><a href="/registration">Registration</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/order">My Orders</a></li>
      <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/user/basket">Basket</a></li>
      <li th:if="${isAdmin}" style="border-bottom: none; background-color: #969abb;" class="nav-bar-element" ><a href="/create_cloth_page">ADMIN MODE</a></li>
      <li th:if="${isAuthenticated}" >
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
<h1 style="text-align: center;">DESSERTS</h1>

<ul style="flex-direction: column;">
  <li th:each="dessert : ${allDessert}" style="padding: 5px;">
    <b><p th:text="${dessert.title}" style="font-size: 30px;"></p></b>
    <p style="font-size: 25px;">Цена:</p>
    <b><p th:text="${dessert.price}" style="font-size: 25px;"></p></b>
    <p th:text="${dessert.description}"></p>
    <p th:text="'Вес: ' + ${dessert.weight} + ' грамм'"></p>
    <form id="formAdd" th:action="${'/dessert/addToBasket/' + dessert.id}" method="post">
      <label th:for="${'quantity' + dessert.id}">Quantity:</label>
      <input type="text" th:id="${'quantity' + dessert.id}" name="quantity" tabindex="-1"  style="pointer-events: none;" required/>
      <button type="button" onclick="decrease(event)" th:id="${'quantity' + dessert.id}">-</button>
      <button type="button" onclick="increase(event)" th:id="${'quantity' + dessert.id}">+</button>
      <button type="submit" onclick="successMessage(event)" th:id="${'quantity' + dessert.id}">Buy</button>
    </form>
    <hr>
  </li>
</ul>
</body>

</html>