<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        function increase(event) {
            var personalId = event.target.id;
            console.log(personalId);
            var value = parseInt(document.getElementById(personalId).value);
            document.getElementById(personalId).value = isNaN(value) ? 1 : value + 1;
        }
        function decrease(event) {
            var personalId = event.target.id;
            console.log(personalId);
            var value = parseInt(document.getElementById(personalId).value);
            document.getElementById(personalId).value = isNaN(value) ? 1 : (value - 1 < 1 ? 1 : value - 1);
        }
        function successMessage(event) {
            var personalId = event.target.id;
            var input = document.getElementById(personalId);
            if (input.value.trim() != "") {
                alert("Товар успешно добавлен!");
            }
        }
    </script>
</head>
<body>
<style>
ul {
    list-style-type: none;
    display : flex;
}
li {
    padding: 20px;
}
a {
    color: #000 !important;
    text-decoration: none
}
</style>
<header>
    <nav>

        <ul class="nav_bar">
            <li class="nav-bar-element"><strong>Super Pizza</strong></li>
            <li class="nav-bar-element"><a href="/pizza/list">Pizzas</a></li>
            <li class="nav-bar-element"><a href="/snack/list">Snacks</a></li>
            <li class="nav-bar-element"><a href="/dessert/list">Desserts</a></li>
            <li class="nav-bar-element"><a href="/drink/list">Drinks</a></li>
            <li th:if="${not isAuthenticated}" style="background-color: #b4ccd7;"><a href="/login">Log-in</a></li>
            <li th:if="${not isAuthenticated}" class="nav-bar-element" style="background-color: #ffddd4;"><a href="/registration">Registration</a></li>
            <li th:if="${isAuthenticated}" style="border-bottom: none;"><a href="/basket">Basket</a></li>
            <li th:if="${isAdmin}" style="border-bottom: none; background-color: #969abb;" class="nav-bar-element" ><a href="/create_cloth_page">ADMIN MODE</a></li>
            <li th:if="${isAuthenticated}" >
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </nav>
</header>
    <h1 style="text-align: center;">PIZZAS</h1>
    <p style="text-align: center;">ВАЖНО: Цена указана за самый маленький размер пиццы</p>
    <p style="text-align: center;">Стандартная пицца: + 150 | Большая пицца: + 300</p>

    <ul style="flex-direction: column;">
        <li th:each="pizza : ${allPizza}" style="padding: 5px;">
            <b><p th:text="${pizza.title}" style="font-size: 30px;"></p></b>
            <p style="font-size: 25px;">Цена:</p>
            <b><p th:text="${pizza.price}" style="font-size: 25px;"></p></b>
            <p th:text="${pizza.description}"></p>
            <form id="formAdd" th:action="${'/pizza/addToBasket/' + pizza.id}" method="post">
                <p>Размер: </p>
                <select name="pizzaSize">
                    <option th:each="size : ${pizza.availableSize}" th:value="${size}"><p th:text="${size}"></p></option>
                </select>
                <p>Тесто: </p>
                <select name="pizzaDough">
                    <option th:each="dough : ${pizza.availableDough}" th:value="${dough}"><p th:text="${dough}"></p></option>
                </select>
                <div th:each="additive : ${pizza.availableAdditive}">
                    <input type="checkbox" th:id="${additive.id}" th:name="selectedAdditives" th:value="${additive.id}" />
                    <label th:for="${additive.id}" th:text="${additive.title} + ' +' + ${additive.price}"></label>
                </div>
                <p></p>
                <label th:for="${'quantity' + pizza.id}">Quantity:</label>
                <input type="text" th:id="${'quantity' + pizza.id}" name="quantity" tabindex="-1"  style="pointer-events: none;" required/>
                <button type="button" onclick="decrease(event)" th:id="${'quantity' + pizza.id}">-</button>
                <button type="button" onclick="increase(event)" th:id="${'quantity' + pizza.id}">+</button>
                <button type="submit" onclick="successMessage(event)" th:id="${'quantity' + pizza.id}">Buy</button>
            </form>
            <hr>
        </li>
    </ul>
</body>

</html>